:root {
  --clr-primary: #AF67E9;
  --clr-secondary: #6565E7;
  --clr-tertiary: #F47C57;
  --clr-base: #4A4B5E;
  --clr-base-lt: #787887;
  --clr-base-dk: #1D1E35;
  --clr-helper: #E7E7E9;
  --clr-ntrl-min: #000;
  --clr-ntrl-max: #FFF;
  --ff-primary: 'Kumbh Sans', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.3;
}
ul, ol {
  list-style: none;
}
img, picture {
  max-width: 100%;
  display: block;
}
input, button, textarea, select {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
button, [type="submit"] {
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
